html, body{
    position:absolute;
    width:100%;
    height:100%;
    padding:0;
    margin:0;    
}

body{
    background-color: #eee;
    background-image: url(../img/bg2.JPG);
    font-family: sans-serif;
}

#description{
    position:absolute;
    margin:3em;
    top:0;
    right:0;
    max-width:25em;
}

#haderp, #instructions{
    position: relative;
    background-color: white;
    border:dashed 2px red;
    padding:3em;    
}

#instructions{
    margin-top:1em;
}

.minify-button{
    cursor: pointer;
    position: absolute;
    display:block;
    right: 0;
    bottom: 0;
    padding: 10px;
    font-weight: bold;
    font-size: 75%;
    color: white;
    border-top-left-radius: 10px;
    background-color: #bbb;
    text-align: center;
    vertical-align: middle;
}

#outputContainer, #output{ 
    position: fixed;
    box-sizing: border-box;
    top:0;
    height: 100%;
    bottom:0;
    width:100%;
}

h1{
    font-size:32pt;
}

a.button
{
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border-width: 10px;
    border-style: solid;
    font-weight: bold;
    width:100%;
}

a.button > small{
    font-weight: normal;
}

a.button:hover{
    box-shadow: 0px 0px 15px #bbb;
}

a.primary.button{
    background-color: #99ff99;
    border-color: #99ff99;
    color: #005500;
}

a.primary.button > small{
    color: #007700;
}

a.primary.button:active
{
    background-color: #407f40;
    border-color: #407f40;
}

a.secondary.button{
    background-color: #9999ff;
    border-color: #9999ff;
    color: #000055;
}

a.secondary.button > small{
    color: #000077;
}

a.secondary.button:active
{
    background-color: #40407f;
    border-color: #40407f;
}

a.disabled.button{
    background-color: #ddd;
    border-color: #ddd;
    color: #fff;
    cursor: no-drop;
}

.menu{
    padding:0;
    margin:0;
    margin-top:1em;
    width:100%;
}

.menu td{
    padding:0;
    margin:0;
}

.menu a.button{
    width:100%;
}
