extends withFramework.pug

block title
  <!-- start detailPage.pug title block -->
  meta(property="og:title", content="Primrose VR: WebVR Application Framework Documentation")
  meta(name="twitter:title", content="Primrose VR: WebVR Application Framework Documentation")
  title Primrose VR: WebVR Application Framework Documentation
  <!-- end detailPage.pug title block -->