extends documentationBase.pug

append head
  <!-- start documentation.pug head append -->
  script(type="text/javascript", src= fileRoot + "PrimroseDocumentation" + jsExt)
  <!-- end documentation.pug head append -->

append header
  h1 Documentation

block main
  <!-- start documentation.pug main block -->
  #top
  #contents
    nav
      ul
        li: a(href=fileRoot + "doc/setup.html") Installation &amp; Setup
  #documentation: section: article
    <!-- start documentation.pug documentation block -->
    block document
    <!-- end documentation.pug documentation block -->
  <!-- end documentation.pug main block -->

append footer
  script(type="text/javascript", async, defer, src="app.js")