extends ./templates/main.jade

append head
  link(type="text/css", rel="stylesheet", href=debug ? "/stylesheets/main.css" : "/stylesheets/main.min.css")
  script(src="//cdn.webglstats.com/stat.js", async, defer)
  script(type="text/javascript", src="/scripts/mailchimp.min.js", async, defer)
  
block banner
  section#demo
    iframe#frontBuffer(src="/examples/editor3d/index.html", role="application", allowfullscreen)
    #overlay
      img(src="/images/primrose64.png", title="Primrose WebVR Framework", alt="Primrose Banner")
      p Productive Virtual Reality
    
block main
  main
    section#intro
      article
        h2 Make VR Apps for your browser
        div
          img(src="/images/logo128.png", alt="logo", title="Primrose", style="float:left;")
          p Primrose VR democratizes access to what experts and enthusiasts alike are calling "The Last Medium", aka Virtual Reality. Smartphones changed the world by providing people with constant access to applications that fit their on-the-go lifestyle, untethered from their desks. Virtual Reality will change the world by providing people with constant access to natural-feeling, face-to-face collaboration with anyone in the world.

          p The Primrose Framework helps web developers create virtual reality experiences within standard web browsers on desktop and mobile devices alike. Through its common interaction space, design tools, interface objects, and user experience best-practices, users and developers collaborate to create interactive multimedia and productivity applications.

          p Primrose is free, open source software (#[a(href="https://github.com/capnmidnight/Primrose/blob/master/LICENSE.md", target="_blank") GPLv3]) and may readily be
            used with other #[a(href="https://en.wikipedia.org/wiki/Free_and_open-source_software", target="_blank") FOSS] projects.

        h3 Examples
        ul
          li
            a(href="/examples/editor3d/index.html", target="_blank")
              img(src="/examples/editor3d/screenshot.jpg", alt="screenshot", title="3D Live Programming")
              | 3D Live Programming
              br
              small Edit objects on the fly!
          li
            a(href="/examples/temple/index.html", target="_blank")
              img(src="/examples/temple/screenshot.jpg", alt="screenshot", title="Ancient Temple")
              | Ancient Temple
              br
              small Randomly generated columns and dust!
          li
            a(href="/examples/music/index.html", target="_blank")
              img(src="/examples/music/screenshot.jpg", alt="screenshot", title="Commodore PET")
              | Music
              br
              small A little synthesizer keyboard you can play!
          li
            a(href="/examples/commodore/index.html", target="_blank")
              img(src="/examples/commodore/screenshot.jpg", alt="screenshot", title="Commodore PET")
              | Commodore PET
              br
              small Cutting edge 1977 technology!
          li
            a(href="/examples/jabbers/index.html", target="_blank")
              img(src="/examples/jabbers/screenshot.jpg", alt="screenshot", title="Commodore PET")
              | Bouncing Jabber Yabs
              br
              small Not at all creepy!

    section#webvr
      article
        h2 What is WebVR?
        p WebVR enables web browsers to display content on virtual reality devices like the Oculus Rift, HTC Vive, or smartphones with Google Cardboard. With WebVR, developers can create immersive virtual reality experiences that run in any WebGL-enabled browser.
        h3 Additional Resources
        ul
          li
            a(href="http://webvr.info/", target="_blank")
              img(src="/images/webvr.info.png", alt="logo", title="WebVR.info")
              | WebVR.info
              br
              small WebVR standard information.
          li
            a(href="http://mozvr.com/", target="_blank")
              img(src="/images/mozvr.com.jpg", alt="logo", title="MozVR.com")
              | MozVR.com
              br
              small Mozilla's WebVR team.
          li
            a(href="https://nightly.mozilla.org/", target="_blank")
              img(src="/images/nightly.mozilla.jpg", alt="logo", title="Firefox Nightly")
              | Firefox Nightly
              br
              small With WebVR sauce!
          li
            a(href="http://blog.tojicode.com/2014/07/bringing-vr-to-chrome.html", target="_blank")
              img(src="/images/chromium.webvr.png", alt="screenshot", title="Chromium WebVR")
              | Chromium WebVR
              br
              small Also with WebVR sauce!
          li
            a(href="https://www.reddit.com/r/webvr", target="_blank")
              img(src="/images/reddit.webvr.png", alt="screenshot", title="Reddit WebVR")
              | WebVR Subreddit
              br
              small Links and discussion on VR for the Web, from around the Web.
          li
            a(href="https://developer.mozilla.org/en-US/docs/Web/API/WebVR_API", target="_blank")
              img(src="/images/mdn.webvr.jpg", alt="screenshot", title="Mozilla Developer Network: WebVR API")
              | Mozilla Developer Network: WebVR API
              br
              small Documentation on the WebVR APIs as they are currently implemented.

    section#dev
      article
        h2 Get started using Primrose WebVR Framework v#{version}

        p Getting up and running with Primrose  is quick and easy. Check out the example code below.

        iframe#example(src="/examples/editor2d/index.html")

        p: a.primary.button(href="/scripts/Primrose.min.js", target="_blank")
            | Download Primrose.min.js, v#{version} #[br]
            small 179KB, 55KB gzipped

        p: a.secondary.button(href="/scripts/Primrose.js", target="_blank") 
            | Download Primrose.js, v#{version} #[br]
            small 381KB, useful for debugging

        p: a.secondary.button(href="https://www.github.com/capnmidnight/Primrose/", target="_blank")
            | Get the Source Code #[br]
            small GitHub repository

        p: aside NOTE: This is still an early alpha release, with bugs of both the known and unknown variety. In particular, I have no way of testing whether or not the international keyboard support is correct. I'll also be making major breaking changes over the near future as I build new features, delete old ideas, and move code around to whatever place makes the best sense. If you have built something that relies on a particular version of Primrose, please see #[a(href="/archive/") the archive directory].

    section#teamInfo
      article
        h2 The Primrose VR Team

        p We provide principal software engineering resources to construct the Primrose Framework, training and support programs for third party developers using the Primrose Framework, and consulting services for organizations wishing to join the Metaverse.

        ul#teamPortraits
          li
            img(alt="portrait", title="Sean T. McBeth", src="/images/stm-2015-05.jpg")
            div
              h4 Sean T. McBeth
 
              p He who is named Destroyer of Bug Lists, Holder of The Accursed Scepter of JavaScript, Lord of The Desk, First of His Name. Literal, card-carrying member of the ACLU.

              p Sean studied Computer Science and Computer Graphics at Shippensburg University and has put those skills to use over his 15 years of experience in software engineering. In his varied career in software consulting he successfully bootstrapped and deployed multiple database applications for desktop and web covering workforce automation, data analytics, IoT, GIS, numeric and 3D simulation, and machine vision. He is now CEO and Chief Architect at Primrose VR, building productive virtual reality workspaces.

              ul
                li
                  a(href="mailto:sean.mcbeth@primrosevr.com?subject=PrimroseVR.com", target="_blank") Email Sean
                li
                  a(href="https://twitter.com/Sean_McBeth", target="_blank")
                      span.icon-twitter(title="twitter logo")
                      | Follow @Sean_McBeth on Twitter
                li
                  a(href="https://github.com/capnmidnight", target="_blank")
                      span.icon-github(title="github logo")
                      | View Sean's profile on GitHub

          li
            img(alt="portrait", title="Matt Dunn", src="/images/md-2016-03.jpg")
            div
              h4 Matt Dunn

              p Matt is a graduate of the WVU College of Law, and has applied his legal and strategic expertise across an array of fields. From drafting legislation to building computer hardware, Matt has developed a unique set of problem solving skills.

              p Since the days of the Nintendo Virtual Boy, Matt has been an early advocate for the advancement of VR technology. A self-educated tech enthusiast, Matt has ingrained himself into the Washington, D.C. VR community, and works to assist Primrose VR in all things business, finance, and legal related.

              ul
                li: a(href="mailto:matt.dunn@primrosevr.com?subject=PrimroseVR.com", target="_blank") Email Matt

          li
            img(alt="portrait", title="You?", src="/images/q.png")
            div
              h4 You?

              p Are you a designer, programmer, system administrator, writer, artist, marketer, or just a person who likes making things? Would you like to work on an exciting technology project? We're looking for collaborators on Primrose.

              p There's room for anyone of any background on Primrose, even if you are not sure exactly how you might contribute. If you'd like to join the project: 

              ul
                li: a(href="mailto:sean.mcbeth@primrosevr.com?subject=Contributing+to+Primrose") Email us directly
                li: a(href="#mail") Sign up for the mailing list
                li: a(href="https://github.com/capnmidnight/Primrose", target="_blank") Check out the repository
                  | Fork the project, change the code or add documentation and submit pull requests. Submit issues. Poke around and have fun!

    section#mail
      article
        h2 Stay in Contact
        p Join the mailing list to receive sporadic updates on Primrose.
        <!-- Begin MailChimp Signup Form -->
        #mc_embed_signup
          form.validate(id="mc-embedded-subscribe-form", action="//coworksupernova.us8.list-manage.com/subscribe/post?u=81af61e5ed1771efc26829263&amp;id=14fb0203a4", method="post", name="mc-embedded-subscribe-form", target="_blank", novalidate)
            #mc_embed_signup_scroll
              div.indicates-required
                  span.asterisk *
                  | indicates required
              div.mc-field-group
                label(for="mce-EMAIL") Email Address
                  span.asterisk *
                input#mce-EMAIL.required.email(type="email", value="", name="EMAIL")
              div.mc-field-group
                label(for="mce-FNAME") First Name
                input#mce-FNAME(type="text", value="", name="FNAME")
              div.mc-field-group
                label(for="mce-LNAME") Last Name
                input#mce-LNAME(type="text", value="", name="LNAME")
              div.mc-field-group.input-group
                h3 Email Format
                ul
                  li
                      input#mce-EMAILTYPE-0(type="radio", value="html", name="EMAILTYPE")
                      label(for="mce-EMAILTYPE-0") html
                  li
                      input#mce-EMAILTYPE-1(type="radio", value="text", name="EMAILTYPE")
                      label(for="mce-EMAILTYPE-1") text
              div#mce-responses
                div#mce-error-response.response(style="display:none")
                div#mce-success-response.response(style="display:none")
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups -->
              div(style="position: absolute; left: -5000px;")
                  input(type="text", name="b_81af61e5ed1771efc26829263_14fb0203a4", tabindex="-1", value="")
              button#mc-embedded-subscribe.primary.button(type="submit", name="subscribe", style="border-radius:0;width:100%;color: #3B3D13;") Subscribe
        <!--End mc_embed_signup-->

block footer
  footer
    a(href="https://www.twitter.com/primrose_vr", target="_blank") Twitter
    a(href="https://www.linkedin.com/company/primrose-vr", target="_blank") LinkedIn
    a(href="https://github.com/voodootikigod/logo.js", target="_blank"): img(src="/images/js.png", alt="logo", title="JavaScript", style="height:32px")
    a(href="https://www.w3.org/html/", target="_blank"): img(src="/images/html5.png", alt="logo", title="HTML5")
    a(href="https://www.gnu.org/licenses/gpl.html", target="_blank"): img(src="/images/gplv3.png", alt="logo", title="GPLv3")
    small Copyright &copy; 
      a(href="https://www.seanmcbeth.com", target="_blank") 
        | Sean T. McBeth 
        img(src="/images/stm.png", alt="logo", title="Sean T. McBeth", style="height:32px")
        |, 2014 - 2016.