<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <iisnode watchedFiles="web.config;*.js"  />
    <rewrite>
      <rules>
        <rule name="DynamicContent" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_FILENAME}" pattern=".+\..+" negate="true" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    <defaultDocument>
      <files>
        <remove value="default.aspx" />
        <remove value="iisstart.htm" />
        <remove value="index.htm" />
        <remove value="Default.asp" />
        <remove value="Default.htm" />
      </files>
    </defaultDocument>
    <staticContent>
      <mimeMap fileExtension=".ogg" mimeType="audio/ogg" />
      <mimeMap fileExtension=".mtl" mimeType="text/plain" />
      <mimeMap fileExtension=".obj" mimeType="text/plain" />
      <mimeMap fileExtension=".md" mimeType="text/plain" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
  </system.webServer>
</configuration>
