extends main.pug

append head
  <!-- start withFramework.pug head append -->
  script(type="text/javascript", src= fileRoot + "PrimroseDependencies" + jsExt)
  script(type="text/javascript", src= fileRoot + "PrimroseLib" + jsExt)
  <!-- end withFramework.pug head append -->
