extends ../../templates/demoIFrame.pug
block meta
  meta(name="twitter:image", content="http://www.primrosevr.com/doc/" + shortName + "/screenshot.jpg")
  meta(property="og:image", content="http://www.primrosevr.com/doc/" + shortName + "/screenshot.jpg" )
prepend main
  h1 Example: Commodore PET and Oregon Trail
