extends ../templates/demoIFrame.pug
append head
  script(src= fileRoot + "node_modules/jshashes/hashes.js")
  script(src="//static.opentok.com/v2/js/opentok.min.js")
prepend main
  h1 Meeting Room
append controls
  #tokbox
  #loginForm(style="display:none")
    button#closeButton.secondary &times;
    h1 Create your personal VR meeting room
    #roomNameRow.inputRow
      input#roomName(type="text", placeholder="Pick a room name")
      button#randomRoomName.primary &#x21bb;
    br
    #userNameRow.inputRow
      input#userName(type="text", placeholder="Pick a username")
      button#randomUserName.primary &#x21bb;
      button#connect.primary &rarr;
    #errorMessage(style="display:none")