extends ../templates/documentation.pug

block header
  h1 Community

block document
  h1 PrimroseVR
  ul
    li
      a(href="https://www.github.com/capnmidnight/Primrose", target="_blank", rel="noopener") PrimroseVR Github
      | &nbsp;- this is where the code is hosted and where you can contribute to the project.
    li
      a(href="https://www.github.com/capnmidnight/Primrose/Issues", target="_blank", rel="noopener") PrimroseVR issue list
      | &nbsp;- this is where we source and manage all PrimroseVR-related issues, bugs, and backlog of requested features.
    li
      a(href="https://www.twitter.com/Primrose_VR", target="_blank", rel="noopener") PrimroseVR Twitter
      | &nbsp;- this is where we tweetzors.

  h1 WebVR
  ul
    li
      a(href="https://mail.mozilla.org/listinfo/web-vr-discuss") WebVR mailing list
      | &nbsp;- this is where to sign up to receive the latest announcements for the WebVR standard.
    li
      a(href="https://webvr-slack.herokuapp.com/", target="_blank", rel="noopener") WebVR Community Slack Channel
      | &nbsp;- this is where all the up-to-the-minute news on WebVR is discussed.
    li
      a(href="https://www.reddit.com/r/webvr", target="_blank", rel="noopener") WebVR Subreddit
      | &nbsp;- this serves as the unofficial community forum for discussing all things WebVR.
