extends ../templates/documentation.pug

block header
  h1 Community

block document
  h1 PrimroseVR
  ul
    li
      a(href="https://www.github.com/NotionTheory/Primrose", target="_blank") PrimroseVR Github
      | &nbsp;- this is where the code is hosted and where you can contribute to the project.
    li
      a(href="https://trello.com/b/NVZsaC1P/primrose-development-tasks", target="_blank") PrimroseVR Trello issue list
      | &nbsp;- this is where we source and manage all PrimroseVR-related issues, bugs, and backlog of requested features.
    li
      a(href="https://www.twitter.com/Primrose_VR", target="_blank") PrimroseVR Twitter
      | &nbsp;- this is where we tweetzors.
    li
      a(href="https://notiontheory.typeform.com/to/QzZmAD", target="_blank") PrimroseVR Community Slack Channel
      | &nbsp;- this is where we chat about PrimroseVR, WebVR, and VR related topics.
    li
      a(href="https://www.reddit.com/r/primrosevr", target="_blank") PrimroseVR Subreddit
      | &nbsp;- this serves as our forum to discuss all PrimroseVR, WebVR, and VR related topics.

  h1 WebVR
  ul
    li
      a(href="https://mail.mozilla.org/listinfo/web-vr-discuss") WebVR mailing list
      | &nbsp;- this is where to sign up to receive the latest announcements for the WebVR standard.
    li
      a(href="https://webvr-slack.herokuapp.com/", target="_blank") WebVR Community Slack Channel
      | &nbsp;- this is where all the up-to-the-minute news on WebVR is discussed.
    li
      a(href="https://www.reddit.com/r/webvr", target="_blank") WebVR Subreddit
      | &nbsp;- this serves as the unofficial community forum for discussing all things WebVR.