* {
  box-sizing: border-box;
}
#fullScreenButtonContainer {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1em;
}
@media screen and (max-device-width: 750px) {
  #fullScreenButtonContainer {
    top: 0;
    bottom: initial;
  }
}
html,
body,
#frontBuffer,
progress {
  position: absolute;
  border: 0;
  left: 0;
  top: 0;
}
html,
body,
#frontBuffer,
#controls {
  padding: 0;
  margin: 0;
}
html,
body,
#frontBuffer {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
progress {
  margin: 1em;
  width: calc(100% - 2em);
}
#frontBuffer {
  background-repeat: no-repeat;
  background-color: #eee;
  background-size: cover;
  cursor: wait;
}
body,
input,
button {
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
  border: none;
}
body > h1 {
  display: none;
}
button {
  background-color: #ec2471;
  color: #fff;
  height: 2.25em;
  margin-left: 0.25em;
  padding: 0 1em;
}
#randomUserName {
  border-right: dashed 1px #8c0e3e;
}
button.secondary {
  background-color: #30f3e1;
  color: #000;
  margin-left: 0.5em;
  width: 2em;
  height: 2em;
}
input:disabled,
button:disabled {
  opacity: 0.25;
}
.inputRow {
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
  display: inline-flex;
  margin: 5px;
  color: #222;
}
.inputRow button {
  font-size: 1.5em;
  width: 2.25em;
  height: auto;
  margin: -2px auto;
  padding: 2px;
}
#roomNameRow {
  margin-right: 3.7em;
}
#loginForm {
  position: absolute;
  height: 100%;
  top: 0;
  left: 50%;
  background-color: rgba(0,0,0,0.66);
  width: 100%;
  padding: 3em;
  transform: translate(-50%, 0);
  color: #ddd;
  text-align: center;
}
#loginForm input {
  background-color: #fff;
  color: #222;
  padding: 0.75em;
  width: 50vw;
  max-width: 50vw;
  display: inline-flex;
}
#closeButton {
  position: absolute;
  top: 0;
  right: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 1.5em;
}
#errorMessage {
  color: #f330d8;
  border: dashed 3px #f330d8;
  padding: 1em;
  margin-top: 1em;
}
#connect {
  display: inline-block;
}
.OT_root {
  display: none;
}
