* {
    box-sizing: border-box;
}

html, body, #frontBuffer, #fullScreenButtonContainer, progress {
    position: absolute;
    padding: 0;
    margin: 0;
    border: 0;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#frontBuffer {
    background-repeat: no-repeat;
    background-color: #eee;
    background-size: cover;
    cursor: wait;
}

body > h1 {
    display: none;
}

button{
    padding: 1em;
}
