*{
    box-sizing: border-box;
}
html, body, #frontBuffer, #fullScreenButtonContainer {
 position: absolute;
 width: 100%;
 height: 100%;
 padding: 0;
 margin: 0;
 border: 0;
}

#frontBuffer {
 background-repeat: no-repeat;
 background-color: #eee;
 background-size: cover;
 cursor: wait;
}

body > h1{
    display: none;
}