* {
    box-sizing: border-box;
}

html, body, #frontBuffer, progress, #fullScreenButtonContainer {
    position: absolute;
    border: 0;
    left: 0;
    top: 0;
}

html, body, #frontBuffer {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

progress, #fullScreenButtonContainer {
    margin: 1em;
    width: calc(100% - 2em);
}

#frontBuffer {
    background-repeat: no-repeat;
    background-color: #eee;
    background-size: cover;
    cursor: wait;
}

body > h1 {
    display: none;
}

button {
    padding: 10px 16px;
    font-size: 1rem;
    color: #fff;
    background-color: #343436;
    border: solid 3px transparent;
    border-radius: 5px;
    font-family: "Lato", "Lucida Grande","Lucida Sans Unicode", Tahoma, Sans-Serif;
}
