* {
  box-sizing: border-box;
}

html, body, #frontBuffer, progress, #controls {
  position: absolute;
  border: 0;
  left: 0;
  top: 0;
}

html, body, #frontBuffer, #controls {
  padding: 0;
  margin: 0;
}

html, body, #frontBuffer {
  width: 100%;
  height: 100%;
}

progress {
  margin: 1em;
  width: calc(100% - 2em);
}

#controls {
  padding: 1em;
}

#frontBuffer {
  background-repeat: no-repeat;
  background-color: #eee;
  background-size: cover;
  cursor: wait;
}

#errorMessage {
  color: salmon;
  border: dashed 3px salmon;
  padding: 1em;
  margin-top: 1em;
  display: none;
}

body, input, button {
  font-family: "Lato", "Lucida Grande","Lucida Sans Unicode", Tahoma, Sans-Serif;
}

  body > h1 {
    display: none;
  }

button {
  padding: 10px 16px;
  font-size: 1rem;
  color: #fff;
  background-color: #343436;
  border: solid 3px transparent;
  border-radius: 5px;
}

input:disabled, button:disabled {
  opacity: 0.25;
}

#loginForm {
  position: absolute;
  height: 100%;
  top: 0;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.66);
  max-width: 50%;
  min-width: 360px;
  margin: 0 auto;
  padding: 3em;
  transform: translate(-50%, 0);
}

  #loginForm > div > input {
    width: calc(100% - 10px);
    padding: 10px;
    border: none;
    margin: 5px;
    background-color: #4e4e4e;
    color: white;
  }

#loginRow {
  display: flex;
}

  #loginRow > button {
    width: 50%;
    margin: 5px;
    background-color: transparent;
  }

#switchMode {
  color: white;
  border-color: white;
}

#connect {
  color: #30f3e1;
  border-color: #30f3e1;
  font-weight: bold;
}

#closeButton {
  color: white;
  float: right;
}
