extends ../templates/documentation.pug

block document
  for file in dir("**/screenshot.jpg").map(rem).map(parent).map((p) => path.join(fileRoot, p))
    article
      a(href= file)
        img(src= file + "/screenshot.jpg" style="width:100%")