html, body, #frontBuffer {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  left: 0;
}

#frontBuffer {
  background-repeat: no-repeat;
  background-color: #eee;
  background-size: cover;
  cursor: wait;
}
