extends ../templates/documentation.pug
block document
  h1 Head Mounted Displays

  p To get the most out of Primrose, you will want to use a Head Mounted Display (HMD) of some kind. There are several options available&mdash;some inexpensive, some very powerful.

  h2 Smartphone-based Stereo Viewers
  p Most modern smartphone devices come with features that make them suitable as stereo image viewers.
  ul
    li High resolution displays,
    li Multi-core main processors,
    li Graphics processors,
    li Orientation and acceleration sensing hardware,
    li Bluetooth and/or USB-host connectivity for peripheral devices.

  p With the addition of a couple of lenses, a frame in which to hold the lenses and phone, and the right software, the smartphone you already own may be convertible into a basic stereo image viewer, suitable for short-term, limited VR use.

  h3 Passive Smartphone Adapters

  h4 Cardboard-box viewers
  ul
    li Google Cardboard
    li Google Cardboard 2.0
    li Unofficial Cardboard 2.0+

  h4 Plastic-box viewers
  ul
    li Durivos Dive
    li Mattel View-Master
    li Homido Virtual Reality Headset

  h4 Foldable viewers
  ul
    li Wearality Sky
    li Homido Mini

  h3 Active Devices

  p This category is currently only represented by the Samsung GearVR.

  h2 Dedicated Head Mounted Displays with Motion Tracking

  h3 OSVR

  h3 Oculus Rift

  h3 HTC Vive

  h2 Other Options


  | [under construction]