extends ../templates/documentation.pug

block header
  h1 Getting started

block document
  img.logo(src= fileRoot + "doc/images/logo128.png", alt="logo", title="Primrose", style="float:left;padding:10px")

  p Primrose is a framework for creating Virtual Reality experiences on the web. Prior to Primrose, there were no frameworks that provided a full, default experience in only a few lines of code. Primrose makes getting up and running in VR very easy.

  p Using Primrose to make web applications is straightforward. The basic concept is to create an "Environment" that wraps around a standard #[a(href="https://www.threejs.org", target="_blank") Three.js] scene. This environment handles the basic interactions of a scene, such as a common UI for entering VR mode, and progressively enhancing between desktop, mobile, Google Cardboard, Samsung Gear VR, Oculus Rift, and HTC Vive.

  p The "empty" project looks like this, giving you a ground to walk on, stereo view with a VR head-mounted display, and the ability to walk around with mouse/keyboard, gamepad, and point-and-click teleportation. For more information on how to build Primrose applications, start with the documentation for the #[a(href="#Primrose_BrowserEnvironment") Primrose.BrowserEnvironment class]. Pay particular attention to the list of events and methods, as well as the options available in #[a(href="#Primrose_BrowserEnvironment_optionsHash") the Primrose.BrowserEnvironment options hash]
  pre: code.
    grammar("JavaScript");
    var env = new Primrose.BrowserEnvironment({
      backgroundColor: 0x000000,
      groundTexture: "deck.png",
      useFog: true
    });

    env.addEventListener("ready", function(){
      // Perform any post-initialization setup. Once this event fires, the
      // Primrose framework is ready and will start animation as soon as this
      // function returns.
    });

    env.addEventListener("update", function(){
      // Perform per-frame updates here, like moving objects around according
      // to your own rules.
    });

  p If you have #[a(href= fileRoot + "demos/shared_assets/images/deck.png", target="_blank") the asset file for the floor texture] and everything worked correctly, it should look something like this:
  img(src=fileRoot + "demos/empty/screenshot.jpg", alt="screenshot", title="Blank scene")
