* {
  box-sizing: border-box;
}
html,
body {
  position: absolute;
  margin: 0;
  padding: 0;
  height: 100%;
}
body,
button,
input {
  font-family: Lato, sans-serif;
  color: #374346;
  background-color: #fff;
}
#logo > img {
  max-width: 200px;
}
#logo > .version-number {
  color: #fff;
  margin-left: 1em;
  font-size: 18pt;
}
#cta {
  display: block;
}
button {
  padding: 0.75em 1.5em;
  margin-right: 3em;
  margin-bottom: 1em;
  margin-top: 1em;
  border: 0;
  background-color: #374346;
  color: #f1f1ef;
  text-transform: uppercase;
  font-size: 100%;
  box-shadow: -5px 5px 43px #343436;
  width: 15em;
}
button::after {
  content: "\27F6";
  padding-left: 1em;
  font-size: 105%;
}
#intro > div {
  display: inline-block;
  vertical-align: top;
  line-height: 1.5;
  text-align: justify;
}
code {
  font-family: 'Consolas', 'Apple Menlo', 'DejaVu Sans Mono', 'Lucida Console', 'Courier New', monospace;
}
code,
kbd {
  display: inline-block;
  padding: 0.25em;
}
kbd,
tt {
  color: #eef6f8;
  background-color: #853b9e;
}
tt {
  display: block;
  white-space: pre-wrap;
  padding: 1em;
}
tt > a {
  color: inherit;
}
code {
  color: #853b9e;
}
a > code {
  background-color: #eef6f8;
}
main > hr {
  width: 3em;
  display: inline-block;
  border: solid 1px #ec2471;
}
#loading,
#progressBar {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  font-size: 12vw;
  padding: 7vw;
  background-color: rgba(0,0,0,0.75);
}
#loading {
  color: #fff;
}
#progressBar {
  background-color: rgba(255,255,255,0.75);
  color: #fff;
  width: 0;
  overflow: hidden;
}
ul {
  list-style: circle;
}
html,
body,
header,
main,
footer,
#documentation iframe,
#footerWrapper,
#loading,
#cta,
#frontBuffer {
  width: 100%;
}
#frontBuffer {
  border: none;
  margin-top: 3em;
}
header,
main,
footer {
  background-color: #fff;
}
header,
main,
#footerWrapper {
  padding-top: 0.5em;
}
#footerWrapper {
  border-top: solid 2px #ccc;
  display: inline-block;
}
header {
  background-color: #ec2471;
  background-image: radial-gradient(circle farthest-corner at 50% 50%, #ec2471 0%, #87518f);
  border-bottom: solid 1px #ccc;
  padding-top: 1.5em;
}
header *,
footer * {
  display: inline-block;
}
main {
  margin-bottom: 5em;
}
footer {
  position: fixed;
  bottom: 0;
}
header,
header h1,
main h1 {
  font-weight: 300;
}
header,
header h1,
header > nav > ul > li > a {
  color: #f1f1ef;
}
header h1 {
  margin-bottom: 1em;
  display: block;
  clear: left;
  font-size: 270%;
}
main h1 {
  font-style: italic;
}
nav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
main a[target="_blank"]::after {
  content: " \21d7";
}
ol.signatureParameters,
ol.signatureParameters > li {
  display: inline;
  padding: 0;
  margin: 0;
}
ol.signatureParameters::before {
  content: "(";
}
ol.signatureParameters::after {
  content: ")";
}
ol.signatureParameters > li::after {
  content: ", ";
}
ol.signatureParameters > li:last-child::after {
  content: "";
}
.type::before {
  content: "[";
}
.type::after {
  content: "]";
}
dt,
dd {
  display: inline;
  padding: 0;
  margin: 0;
}
dl {
  margin: 0;
}
dd::before {
  content: " - ";
}
.enumeration .values > li {
  padding: 0;
}
body > div {
  position: absolute;
  top: 49px;
}
#contents {
  display: inline-block;
  line-height: 1.5;
  width: 360px;
  vertical-align: top;
  margin-right: 2em;
}
#documentation {
  display: inline-block;
  max-width: calc(100% - 370px - 2em);
  min-width: 340px;
}
#documentation img {
  max-width: 100%;
}
#documentation iframe {
  height: 20em;
  border: none;
}
article > blockquote {
  border: dashed 5px #00f;
  color: #00f;
  font-weight: bold;
  font-style: italic;
  font-size: 105%;
  padding: 1em;
  margin: 2em;
}
a {
  text-decoration: none;
  color: #ec2471;
}
#contents a,
footer a {
  color: #374346;
}
blockquote a {
  text-decoration: underline;
}
#contents a.incomplete {
  color: #c0c0c0;
}
#contents a.selected {
  color: #ec2471;
  font-weight: bold;
}
#contents a.incomplete.selected {
  color: #f1afc9;
}
#contents h2,
#contents h3 {
  font-size: 100%;
  font-weight: normal;
  text-align: left;
  padding: 0;
  margin: 0;
}
#contents h2,
#contents h2 > a {
  color: #853b9e;
}
#contents h2 {
  padding-top: 1.5em;
}
#contents h3 {
  color: #2b81af;
}
#contents ul,
#contents li {
  padding: 0;
}
details > summary {
  margin-top: 1em;
}
details > summary:focus {
  outline: none;
}
details > ul {
  margin-left: 1.5em;
}
details > ul > li {
  margin: 0.5em;
}
table {
  border: 0;
  border-collapse: collapse;
}
tr:nth-child(even) {
  background-color: rgba(204,204,204,0.26);
}
td {
  padding: 5px;
  border-collapse: collapse;
  text-align: left;
}
td:nth-child(2) {
  text-align: right;
}
.code-listing {
  background-color: #f1f1ef;
  padding: 1em;
  padding-left: 2em;
  border-left: solid 3px #ec2471;
}
.icon {
  display: inline-block;
  background-image: url("images/icons.png");
  background-size: 100%;
  margin-bottom: 0.5em;
  vertical-align: middle;
}
footer .icon {
  float: right;
}
.small.icon {
  width: 32px;
  height: 32px;
}
.large.icon {
  width: 50px;
  height: 50px;
  margin-right: 0.5em;
}
.github {
  background-position-y: 50%;
}
.twitter {
  background-position-y: 40%;
}
.geom1 {
  background-position-y: 90%;
}
.geom2 {
  background-position-y: 100%;
}
@media (min-width: 641px) {
  details {
    margin-left: -1em;
  }
  header > nav {
    float: right;
  }
  header,
  main,
  footer {
    padding-left: 15em;
    padding-right: 15em;
  }
  header > nav > ul > li > a,
  #footerWrapper > a {
    padding: 0.25em 1em;
  }
  #intro > div {
    width: 45%;
    margin-right: 4.5%;
  }
  #frontBuffer {
    height: 40vw;
  }
}
@media (max-width: 640px) {
  header > nav {
    float: right;
  }
  header,
  main,
  footer {
    padding-left: 1em;
    padding-right: 1em;
  }
  header > nav > ul > li > a {
    padding: 4px 14px;
  }
  #footerWrapper > a,
  header > nav > ul > li > a {
    font-size: 100%;
  }
  #footerWrapper > a {
    margin-left: 0.5em;
    vertical-align: top;
  }
}
@media (max-width: 360px) {
  header > nav {
    float: none;
  }
  header h1 {
    font-size: 26px;
  }
  #documentation {
    max-width: 346px;
  }
  #logo {
    margin-bottom: 1em;
  }
  header button {
    margin: 0;
  }
  #frontBuffer {
    height: 60vw;
  }
  #footerWrapper > a,
  header > nav > ul > li > a {
    font-size: 83%;
  }
}
