*{
  box-sizing: border-box;
}

html, body{
  position: absolute;
  margin:0;
  padding:0;
  width: 100%;
  height: 100%;
}
body{
  font-family: -apple-system, '.SFNSText-Regular', 'San Francisco', 'Roboto', 'Segoe UI', 'Helvetica Neue', 'Lucida Grande', sans-serif;
}

#loading, #progressBar {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  font-size: 12vw;
  padding: 7vw;
  background-color: rgba(0, 0, 0, 0.75);
}

#loading {
  color: white;
  width: 100%;
}

#progressBar {
  background-color: rgba(255, 255, 255, 0.75);
  color: white;
  width: 0;
  overflow: hidden;
}

a {
  color: black;
}

ul {
  list-style: circle;
}

header{
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  background-color: white;
  border-bottom: solid 1px #ccc;
}

#logo {
  margin: 0.25em 1em;
}

header * {
  display: inline-block;
  padding: 0;
  margin: 0;
  vertical-align: middle;
}      

header > nav > ul {
  list-style: none;
}
header a {
  border: none;
  height: auto;
  padding: 0.25em 1em;
}


main{
  position: absolute;
  display: inline-block;
  top: 4em;
  width: 100%;
  bottom: 0;
  overflow-y: scroll;
}

h2, h3, h4{
  text-transform: capitalize;
}

#documentation article h1 {
  font-size: 2em;
  text-transform: none;
}

ol.signatureParameters, ol.signatureParameters > li {
  display: inline;
  padding: 0;
  margin: 0;
}
ol.signatureParameters::before{
  content: "(";
}
ol.signatureParameters::after{
  content: ")";
}
ol.signatureParameters > li::after{
  content: ", ";
}
ol.signatureParameters > li:last-child::after{
  content: "";
}

.type::before{
  content: "[";
}
.type::after{
  content: "]";
}

dt, dd {
  display: inline;
  padding: 0;
  margin: 0;
}
dl{
  margin: 0;
}
dd::before{
  content: " - ";
}

.enumeration .values > li{
  padding: 0;
}

body > div {
  position: absolute;
  top: 49px;
}

#contents {
  position: relative;
  display: inline-block;
  background-color: white;
  padding: 1em;
  line-height: 1.5;
  width: 20em;
  vertical-align: top;
}

#documentation {
  position: relative;
  display: inline-block;
  left: 0em;
  right: 25%;
  max-width: 1000px;
  vertical-align: top;
  padding: 1em;
}

#documentation img {
  max-width: 100%;
}


#contents a {
  text-decoration: none;
}

#contents h2, #contents h3{
  font-size: 100%;
  font-weight: normal;
  text-align: left;
  padding: 0;
  margin: 0;
}

#contents h2, #contents h2 > a{
  color: #853B9E;
}

#contents h2 {
  padding-top: 1.5em;
}

#contents h3{
  color: #2b81af;
}

#contents ul{
  list-style: none;
}

#contents ul, #contents li{        
  padding: 0;
  margin: 0;
}

#docSearch{
  padding: 0.5em;
}

details > summary {
  margin-top: 1em;
  margin-bottom: -1em;  
}

details > summary:focus {
  outline: none;
}

