*{
  margin:0;
}
html, body{
  width:100%;
  padding: 0;
  margin: 0;
}

html, body, button, input{
  font-family:Consolas, monospace;
}

#scriptVis{
  position:absolute;
  top:0;
  left:0;
  color:#ccc;
  background-color:#eee;
  font-size:20pt;
  overflow:hidden;
  height:100%;
  width:100%;
  z-index:-1;
}

#codeArea{
  margin-top:3em;
  margin-left: auto;
  margin-right: auto;
  border: dashed 5px #070;
  padding:2em;
  background-color:#fff;
  width:630px;
}

#drawing, #controls{
  border: dashed 2px #c0c0c0;
  padding: 1em;
  margin: 1em;
}

#surface, #texters, #about{
  width:100%;
  height:400px;
}

#surface, #about{
  display: none;
}

#error{
  color:#f00;
}

canvas.code-editor{
  height:320px;
  width:100%;
}

input[type=number]{
  text-align: right;
  width:4em;
}

#controls{
  text-align:center;
}

#controls button{
  width:6em;
  height:4em;
  font-size:12pt;
  border:solid 2px #030;
  border-radius: 3px;
  margin-bottom: 3px;
  background-color: #070;
  font-variant:small-caps;
  font-weight:bold;
  color:#fff;
}

#controls button:disabled, #controls button:disabled:active{
  background-color: #888;
  color:#aaa;
}

#controls button:active{
  background-color: #030;
}