.button
{
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  font-weight: bold;
  width: 100%;
}

.button > small{
  font-weight: normal;
  opacity: 0.85;
}

.button:hover{
  box-shadow: 0px 0px 15px #bbb;
}

.primary.button{
  box-shadow: 3px 3px 10px #71767C;
  background-color: rgb(245, 250, 50);
  background-image: linear-gradient(1deg, rgb(242, 194, 5), rgb(245, 250, 50), rgb(254, 255, 216));
  color: #3B3D13;
  text-shadow: 1px 1px 5px rgb(134, 134, 40);
}

.secondary.button{
  box-shadow: 3px 3px 10px #71767C;
  background-color: rgb(39, 103, 137);
  background-image: linear-gradient(1deg, rgb(44, 115, 152), rgb(39, 103, 137), rgb(30, 152, 213));
  color: #FFFFFF;
  text-shadow: 1px 1px 5px rgb(13, 54, 74);
}

#menu > .button{
  text-align: left;
}

#menu > .selected.button{
  background-color: #B3C2D7;
}

#menu > .button::after{
  content: " ";
  float: right;
  width: 16px;
  height: 16px;
  background-color: #53698B;
}

#menu > .selected.button::after{
  background-color: #ffffff;
  box-shadow: 2px 2px 5px #24344C;
  margin-right: 3px;
}

.disabled.button{
  background-color: #ddd;
  color: #fff;
  cursor: not-allowed;
}

.disabled.button:hover{
  box-shadow: none;
}
