*{
  box-sizing: border-box;
}

html, body{
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

input, select{
  background-color: rgba(255, 255, 255, 0.25);
  color: white;
  border: 0;
  padding: 0.25em;
  margin: 0.25em;
  text-align: center;
}

select > option{
  color:black;
}

body{
  background-color: #eee;
  background-size: 100%;
  background-attachment: fixed;
  font-family: 'Trebuchet MS', sans-serif;
}

#nightly{
  font-style: italic;
  margin: 1em;
  padding: 1em;
  border: dashed 5px rgb(239, 255, 0);
  background-color: rgb(15, 19, 37);
}

#settings>thead>tr>th{
  text-align: left; 
}

#settings>tbody>tr>td{
  vertical-align: top;
  padding-right:1em;
}

a{
  color: rgb(249, 255, 0);
}

a:visited{
  color: rgb(255, 204, 110);
}

#menu > ul {
  list-style: none;
  padding: 0;
}

#menu > ul > li > a.button{
  font-size: 75%;
}

#menu > ul > li > a.button, #content > article, #nightly{
  color: rgb(255, 255, 255);
}

#frontBuffer, #infoContainer{
  position: absolute;
  top: 0;
  left:0;
  height: 100%;
  width: 100%;
}

@media(max-width:640px){

  header, footer, article, #menu{
    background-color: rgb(119, 154, 192);
  }

  header, footer, #description, #menu{
    width: 100%;
    padding: 0;
    margin: 0;
  }

  header > img{
    max-width: 100%;
  }

  #content > article{
    padding: 2em;
  }

  #content > article{
    display: none;
  }

  #content > article.selected{
    display: block;
  }

  footer, footer a, footer a:visited{
    color: #fff;
  }
}

@media(min-width:641px){

  header{
    position:absolute;
  }

  #description{
    position:absolute;
    top: 64px;
    bottom: 0;
  }

  #menu > ul > li > a.button, #content > article{
    background-color: rgba(31, 56, 92, 0.89);
    background-image: linear-gradient(1deg, rgba(25, 35, 53, 1), rgba(31, 56, 92, 0.89), rgba(67, 128, 194, 0.95));
    box-shadow: 0px 0px 10px #8392A9;
    text-shadow: 1px 1px 1px rgb(2, 14, 31);
  }

  #menu{
    width: 7em;
    float: left;
  }

  #content > article{
    position:absolute;
    transition: left 0.5s;
    transition-timing-function: ease-in-out;
    left: -2000px;
    top: 0;
    max-height: 95%;
    overflow-y: scroll;
  }

  #content > article.selected{
    left: 9em;
  }

  #download, #mail, #screenshots, #about, #demos{
    width: 40em;
    padding: 3em;
  }

  #faq, #home{
    width: 50em;
    padding: 3em;
  }

  footer{
    position: fixed;
    bottom: 0;
    padding: 0.5em;
    color: #999;
  }

  footer a, footer a:visited{
    color: #999;
  }
}

footer{
  width: 100%;
  text-align: center;
  font-weight: bold;
}