*{
  box-sizing: border-box;
}

html, body{
  margin:0;
  padding:0;
}

body{
  font-family: -apple-system, '.SFNSText-Regular', 'San Francisco', 'Roboto', 'Segoe UI', 'Helvetica Neue', 'Lucida Grande', sans-serif;
}

h2{
  margin: 0 auto 1em 0;
  padding-top: calc(32px + 1em);
  text-align: center;
  text-transform: uppercase;
}

ul {
  list-style: circle;
}

#demo{
  width: 100%;
  height: 40vw;
}
iframe {
  border: none;
  width: 100%;
}
#frontBuffer {
  height: 100%;
}
#example{
  height: 20em;
}
#overlay{
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding-top: 15vw;
  text-align: center;
  color: white;
  text-shadow: 0 0 5px purple;
  pointer-events: none;
}
#overlay > img {
  max-width: 50%;
}
#overlay > p{
  font-size: 125%;
  display: block;
  text-transform: uppercase;
}
#overlay > a {
  display: inline-block;
  cursor: pointer;
}

header{
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: white;
  border-bottom: solid 1px #ccc;
  opacity: 0.9;
}

#logo {
  margin: 0.25em 1em;
}

header * {
  display: inline-block;
  padding: 0;
  margin: 0;
  vertical-align: middle;
}      

header > nav > ul {
  list-style: none;
}
header a {
  border: none;
  height: auto;
  padding: 0.25em 1em;
}

a {
  color: black;
}


main article {
  margin: 0 auto;
  padding-bottom: 1em;
  max-width: 1000px;
  width: 75%;
  line-height: 1.5;
}      
main p {
  margin: 0 0 1em 0;
}

main > section:nth-child(1), main > section:nth-child(5){
  background-color: white;
}
main > section:nth-child(1), main > section:nth-child(1) a,
main > section:nth-child(5), main > section:nth-child(5) a{
  color: black;
}
main > section:nth-child(2), main > section:nth-child(6){
  background-color: #E1CFF6;
}
main > section:nth-child(2), main > section:nth-child(2) a,
main > section:nth-child(6), main > section:nth-child(6) a{
  color: black;
}
main > section:nth-child(3), main > section:nth-child(7){
  background-color: #333;
}
main > section:nth-child(3), main > section:nth-child(3) a,
main > section:nth-child(7), main > section:nth-child(7) a{
  color: white;
}
main > section:nth-child(4), main > section:nth-child(4){
  background-color: #7FDCDF;
}
main > section:nth-child(4), main > section:nth-child(4) a,
main > section:nth-child(8), main > section:nth-child(8) a{
  color: black;
}


#examples div img {
  width: 100%;
}
#examples div a {
  color: white;
  font-size: 125%;
  font-weight: bold;
  text-decoration: none;
}
#examples div a small {
  color: #ccc;
  font-weight: normal;
  font-style: italic;
}

#team > article > div > img{
  display: block;
  width: 100%;
  margin: 0 auto;
  border-radius:50%;
}

.button {
  display: block;
  width: 100%;
  text-align: center;
  border: solid 1px black;
  height: auto;
  padding: 0.5em;
  margin: 0.5em 0;
  text-decoration: none;
  cursor: pointer;
  line-height: 1.5;
  font-size: 110%;
}

.primary.button{
  background-color: #7FDCDF;
}

.button.secondary{
  background-color: #853B9E;
  color: white;
}

footer{
  width:100%;
  padding:0;
  margin:0;
  text-align:center;
  font-weight:bold;
}

footer > * {
  display: inline-block;
  vertical-align: middle;
}

@media(min-width:900px){
  header{
    display:block;
  }
  #introduction div:nth-child(2), 
  #about > article > div:nth-child(2){
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -o-column-count: 2;
    -ms-column-count: 2;
    column-count: 2;
  }
  #nightly{
    padding: 3em;
  }
  #nightly ul {
    margin-left: 3em;
  } 
  #about > article > div:nth-child(2){
    margin-bottom: 1em;
  }
  #examples > article > div,
  #team > article > div {
    display: inline-block;
    vertical-align: top;
    width: calc(50% - 10px);
  }
  #team > article > div {
    padding: 2em;
  }
  main > section:last-child{
    margin-bottom: 3em;
  }
}
