extends withFramework.jade

block viewport
  meta(name="viewport", content="width=device-width,initial-scale=1,maximum-scale=1,shrink-to-fit=no,user-scalable=no")

append head
  <!-- start demo.jade head append -->
  link(type="text/css", rel="stylesheet", href= fileRoot + "stylesheets/" + (debug ? "main.css" : "main.min.css"))
  link(type="text/css", rel="stylesheet", href= debug ? "../style.css" : "../style.min.css")
  style(type="text/css") body{background-image:url(screenshot.jpg);}
  <!-- end demo.jade head append -->

block banner
  <!-- start demo.jade banner block -->
  canvas#frontBuffer
  <!-- end demo.jade banner block -->

prepend footer
  script(type="text/javascript").
    if (window.self !== window.top) { document.querySelector("header").style.display = "none"; }

  script#monitor_mtl(type="text/prs.wavefront-mtl")
    include ../models/monitor.mtl

  script#monitor_obj(type="text/prs.wavefront-obj")
    include ../models/monitor.obj

  script#fullscreen_text_mtl(type="text/prs.wavefront-mtl")
    include ../models/fullscreen_text.mtl

  script#fullscreen_text_obj(type="text/prs.wavefront-obj")
    include ../models/fullscreen_text.obj

  script#monitor_mtl(type="text/prs.wavefront-mtl")
    include ../models/cardboard.mtl

  script#monitor_obj(type="text/prs.wavefront-obj")
    include ../models/cardboard.obj

  script#fullscreen_text_mtl(type="text/prs.wavefront-mtl")
    include ../models/vr_text.mtl

  script#fullscreen_text_obj(type="text/prs.wavefront-obj")
    include ../models/vr_text.obj