doctype html
html
  head
    meta(charset="utf-8")

    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1")

    meta(name="web-app-capable", content="yes")
    meta(name="theme-color", content="black")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")

    meta(name="description", content="A WebVR application framework.")
    meta(name="keywords", content="WebGL, WebVR, HTML5, JavaScript, text editor, source code editor, virtual reality, Primrose")

    meta(property="og:type", content="website")
    meta(name="twitter:card", content="summary_large_image")
    meta(name="twitter:site", content="@Primrose_VR")

    meta(property="og:site_name", content="Primrose VR")

    meta(property="og:description", content="Primrose: Framework for WebVR Applications")
    meta(name="twitter:description", content="Primrose: Framework for WebVR Applications")
    meta(property="og:url", content="http://www.primrosevr.com/" + filePath)

    <!-- start main.pug meta block -->
    block meta
    <!-- end main.pug meta block -->

    <!-- start main.pug title block -->
    block title
      meta(property="og:title", content="Primrose VR: WebVR Application Framework")
      meta(name="twitter:title", content="Primrose VR: WebVR Application Framework")
      title Primrose VR: WebVR Application Framework
    <!-- end main.pug title block -->

    block head
      link(type="text/css", rel="stylesheet", href=fileRoot + "demos/style" + cssExt)
      style #frontBuffer { background-image:url(screenshot.jpg); }

    if debug
      script window.DEBUG = true; window.PRIMROSE_TELEMETRY_OPT_OUT = true;
      != liveReload
    script(src= fileRoot + "preloader" + jsExt, data-files= fileRoot + "Primrose" + jsExt + ",app" + jsExt)
  body
    <!-- start demoIFrame.pug main block -->
    block main
      canvas#frontBuffer
      #controls
        #fullScreenButtonContainer
        progress
        block controls

    <!-- end demoIFrame.pug main block -->
