extends withFramework.jade

block viewport
  meta(name="viewport", content="width=device-width,initial-scale=1,maximum-scale=1,shrink-to-fit=no,user-scalable=no")

append head
  <!-- start demo.jade head append -->
  link(type="text/css", rel="stylesheet", href=debug ? "/stylesheets/main.css" : "/stylesheets/main.min.css")
  link(type="text/css", rel="stylesheet", href= debug ? "../style.css" : "../style.min.css")
  style(type="text/css") body{background-image:url(screenshot.jpg);}
  <!-- end demo.jade head append -->

block banner
  <!-- start demo.jade banner block -->
  canvas#frontBuffer
  <!-- end demo.jade banner block -->

append footer
  script(type="text/javascript").
    if (window.self !== window.top) { document.querySelector("header").style.display = "none"; }