doctype html
html
  head
    meta(charset="utf-8")
    block viewport
      meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
      
    meta(name="web-app-capable", content="yes")
    meta(name="theme-color", content="black")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")

    meta(name="description", content="A WebVR application framework.")
    meta(name="keywords", content="WebGL, WebVR, HTML5, JavaScript, text editor, source code editor, virtual reality, Primrose")

    meta(property="og:type", content="website")
    meta(name="twitter:card", content="summary_large_image")
    meta(name="twitter:site", content="@Primrose_VR")

    meta(property="og:site_name", content="Primrose VR")
    
    meta(property="og:description", content="Primrose: Framework for WebVR Applications")
    meta(name="twitter:description", content="Primrose: Framework for WebVR Applications")
    meta(property="og:url", content="http://www.primrosevr.com/" + filePath)
    
    <!-- start main.jade meta block -->
    block meta
    <!-- end main.jade meta block -->
    
    <!-- start main.jade title block -->
    block title
      meta(property="og:title", content="Primrose VR: WebVR Application Framework")
      meta(name="twitter:title", content="Primrose VR: WebVR Application Framework")
      title Primrose VR: WebVR Application Framework
    <!-- end main.jade title block -->

    block head
      style !{getFile("doc/demoUI" + cssExt)} #frontBuffer { background-image:url(screenshot.jpg); }
      if debug
        for file in bootstrapFiles
          script(type="text/javascript", src=fileRoot + file)
      else
        script(type="text/javascript").
          !{getFile("node_modules/webvr-bootstrapper/WebVRBootstrapper" + jsExt)}
      script(type="text/javascript").
        WebVRBootstrapper(!{ manifest }, function (startDownload) {
          function addButton(text, thunk) {
            var btn = document.createElement("button");
            btn.type = "button";
            btn.appendChild(document.createTextNode(text));
            btn.addEventListener("click", thunk);
            document.getElementById("fullScreenButtonContainer").appendChild(btn);
          }
          var b = document.querySelector("progress");
          startDownload(function (n, m) {
            b.max = m;
            b.value = n;
          }, function () {
            b.style.display = "none";
            function vrButton(display, i) {
              addButton(display.displayName, env.goFullScreen.bind(env, i));
            }
            env.addEventListener("ready", function () {
              env.displays.forEach(vrButton);
            }, false);
          });
        });
  body
    <!-- start main.jade main block -->
    block main
      canvas#frontBuffer
      progress
      #fullScreenButtonContainer
    <!-- end main.jade main block -->