extends main.pug

append head
  script(src= fileRoot + "node_modules/pliny/pliny" + jsExt)
  script(src= fileRoot + "Primrose" + jsExt)
  script(src= fileRoot + "doc/app" + jsExt)

append header
  h1 Demo: #[= name]

append main
  <!-- start demo.pug banner block -->
  p Click on the image below to lock mouse cursor to demo. #[a(href=fileRoot + "demos/" + name, target="_blank", rel="noopener") Open demo in new window].
  iframe#demo(src = fileRoot + "demos/" + name, style="width: 100%;height: 50vw;", allowfullscreen, allowvr)
  if exists("demos/" + name + "/app.js")
    h2 Source
    pre#editorContainer= "grammar(\"JavaScript\");\n" + readFile("demos/" + name + "/app.js")
