li(data-name="Installation and Setup"): a(href="/doc/setup.html") Installation and Setup
li(data-name="Frequently Asked Questions"): a(href="/doc/faq.html") Frequently Asked Questions
li(data-name="Using the VR Development Environment"): a(href="/doc/editorVRManual.html") Using the VR Development Environment
li(data-name="Head Mounted Displays"): a.incomplete(href="/doc/hmd.html") Head Mounted Displays
li(data-name="What is WebVR?"): a.incomplete(href="/doc/webvr.html") What is WebVR?
li(data-name="Synchronizing your Smartphone and PC"): a.incomplete(href="/doc/sync.html") Synchronizing your Smartphone and PC
li(data-name="Writing new documentation with Pliny"): a(href="/doc/pliny.html") Writing new documentation with Pliny
li(data-name="Getting started"): a(href="/doc/index.html") Getting started