each file in docFiles
  if(!file.tutorial)
    if(file.incomplete)
      li(data-name=file.title): a.incomplete(href=file.fileName)= file.title
    else
      li(data-name=file.title): a(href=file.fileName)= file.title