extends ../templates/withFramework.jade

block title
  <!-- start documentation.jade title block -->
  meta(property="og:title", content="Primrose VR: WebVR Application Framework Documentation")
  meta(name="twitter:title", content="Primrose VR: WebVR Application Framework Documentation")
  title Primrose VR: WebVR Application Framework Documentation
  <!-- end documentation.jade title block -->
  
append head
  <!-- start documentation.jade head append -->
  link(rel="stylesheet", type="text/css", href=(debug ? "style.css" : "style.min.css"))
  <!-- end documentation.jade head append -->
  
block main
  <!-- start documentation.jade main block -->
  main
    #top
    #contents
      h1: a(href="/doc/") Primrose VR
      input#docSearch(type="search", placeholder="Filter")
      details(open)
        summary Table of contents
        nav
          ul
            li
              h2 Project
              ul
                li: a(href="https://www.github.com/capnmidnight/Primrose", target="_blank") Source code on GitHub
                li: a(href="https://trello.com/b/NVZsaC1P/primrosevr", target="_blank") Issues on Trello
            li
              h2 Pages
              ul
                include ../templates/docPages.jade
            li
              h2 Tutorials
              ul
                include ../templates/docTutorials.jade
    #documentation
      <!-- start documentation.jade documentation block -->
      block document
      <!-- end documentation.jade documentation block -->
  <!-- end documentation.jade main block -->