extends ../templates/main.jade

block title
  <!-- start documentation.jade title block -->
  meta(property="og:title", content="Primrose VR: WebVR Application Framework Documentation")
  meta(name="twitter:title", content="Primrose VR: WebVR Application Framework Documentation")
  title Primrose VR: WebVR Application Framework Documentation
  <!-- end documentation.jade title block -->
  
append head
  <!-- start documentation.jade head append -->
  link(rel="stylesheet", type="text/css", href=(debug ? "style.css" : "style.min.css"))
  <!-- start withFramework.jade head append -->
  if debug
    script(type="text/javascript", src= "/node_modules/marked/lib/marked.js")
    script(type="text/javascript", src= "/lib/pliny.js")
    each file in frameworkFiles
      script(type="text/javascript", src=file)
  else
    script(type="text/javascript", src="/scripts/Primrose.min.js")
  <!-- end withFramework.jade head append -->
  <!-- end documentation.jade head append -->
  
block main
  <!-- start documentation.jade main block -->
  main
    #top
    #contents
      h1: a(href="/doc/") Primrose VR
      input#docSearch(type="search", placeholder="Filter")
      details(open)
        summary Table of contents
        nav
          ul
            li
              h2 GitHub
              ul
                li: a(href="https://www.github.com/capnmidnight/Primrose", target="_blank") Source code
                li: a(href="https://www.github.com/capnmidnight/Primrose/issues", target="_blank") Issues
            li
              h2 Pages
              ul
                include ../templates/docPages.jade
            li
              h2 Tutorials
              ul
                include ../templates/docTutorials.jade
    #documentation
      <!-- start documentation.jade documentation block -->
      block document
      <!-- end documentation.jade documentation block -->
  <!-- end documentation.jade main block -->

prepend footer
  <!-- start documentation.jade footer prepend -->
  script(type="text/javascript", src="app.js")
  script(type="text/javascript")  if (isInIFrame) { document.querySelector("header").style.display = "none"; }
  <!-- end documentation.jade footer prepend -->