extends main.jade

append head
  if debug
    script(type="text/javascript", src= "/node_modules/marked/lib/marked.js")
    script(type="text/javascript", src= "/lib/pliny.js")
    script(type="text/javascript", src= "/lib/webgl-debug.js")
    script(type="text/javascript", src= "/node_modules/three/three.js")
    each file in frameworkFiles
      script(type="text/javascript", src=file)
  else
    script(type="text/javascript", src="/scripts/three.min.js")
    script(type="text/javascript", src="/scripts/marked.min.js")
    script(type="text/javascript", src="/scripts/Primrose.min.js")

prepend footer
  script(type="text/javascript", src="app.js")