extends main.jade

append head
  <!-- start withFramework.jade head append -->
  if debug
    each file in frameworkFiles
      script(type="text/javascript", src=file)
  else
    script(type="text/javascript", src="/payload.js")
  <!-- end withFramework.jade head append -->

prepend footer
  <!-- start withFramework.jade footer prepend -->
  script(type="text/javascript", src="app.js")
  script(type="text/javascript")  if (isInIFrame) { document.querySelector("header").style.display = "none"; }
  <!-- end withFramework.jade footer prepend -->