extends main.jade

append head
  <!-- start withFramework.jade head append -->
  if debug
    each file in frameworkFiles
      script(type="text/javascript", src=fileRoot + file)
  else
    script(type="text/javascript", src= fileRoot + "PrimroseDependencies.min.js")
    script(type="text/javascript", src= fileRoot + "Primrose.min.js")
  <!-- end withFramework.jade head append -->
