extends main.jade

append head
  <!-- start withFramework.jade head append -->
  if debug
    each file in frameworkFiles
      script(type="text/javascript", src=file)
  else
    script(type="text/javascript", src="/scripts/three.min.js")
    script(type="text/javascript", src="/scripts/MTLLoader.min.js")
    script(type="text/javascript", src="/scripts/OBJLoader.min.js")
    script(type="text/javascript", src="/scripts/marked.min.js")
    script(type="text/javascript", src="/scripts/pliny.min.js")
    script(type="text/javascript", src="/scripts/Primrose.min.js")
  <!-- end withFramework.jade head append -->

prepend footer
  <!-- start withFramework.jade footer prepend -->
  script(type="text/javascript", src="app.js")
  <!-- end withFramework.jade footer prepend -->