extends ../templates/main.pug

block header
  h1 Demos

block main
  for file in dir("**/screenshot.jpg").map(rem).map(parent).map((p) => path.join(fileRoot, p))
    article
      a(href= file + ".html")
        img(src= file + "/screenshot.jpg" style="width:100%")
