extends ../templates/main.pug

block header
  h1 Demos

block main
  for file in dir("**/screenshot.jpg").map(rem).map(parent).map((p) => path.join(fileRoot, p).replace(/\\/g, "/"))
    article
      a(href= file + ".html")
        img(src= file + "/screenshot" + jpgExt style="width:100%")
