html, body{
  position:absolute;
  height:100%;
  width:100%;
  padding:0;
  margin:0;
}

#controls > div{
  display: inline-block;
  padding-right: 0.5em;
}

#editorContainer{
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
}